<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cursos</title>
    <link rel="stylesheet" href="/stylesheets/body.css">
    <link rel="stylesheet" href="/stylesheets/rgcursos.css">

</head>
<body>
    <h1 class="title-cursos">Cursos</h1>
    <p class="modal">=</p>
    <div class="div-login hidde">
        <form action="http://localhost:3000/cursos/new-curso" method="post" class="form-login">
            <a href="http://localhost:3000/login"><p>Sair</p></a>
            <h3>Cadastro</h3>
            <input type="text" name="title" placeholder="Nome do Curso" >
            <input type="text" name="description" id="" placeholder="Descrição">
            <input type="text" name="text" id="" placeholder="Iframe">
            <p class="title-notes">Anotações</p>
            <textarea class="notes" name="notes" class="text" cols="30" rows="7"></textarea>
            <div class="div-submit">
                <input type="text" class="hidde" name="id" value="<%=id%>">
                <input type="text" class="hidde" name="admin" value="0">
                <button>Cadastrar</button>
            </div>
        </form>
    </div>
    
    
    <div class="container-cursos">
    
        <%  cursos.forEach(element => { %>
        
            <div class="div-cursos">

                <%const ifram = element.iframe.replace('<iframe width="','width=').replace('" height="', ' height=').replace('" src="', ' src=').replace('" title="', ' title=').replace('"0"', '0').replace('"accelerometer;', 'accelerometer;').replace('</iframe>', '').replace('>', '') %> >
                
                <iframe <%= ifram %>></iframe> 

                <h3><%=element.title%></h3>
                <p><%=element.description%></p>
                <input type="text" class="hidde" name="id" value="<%=element._id%>">
                <button>Ver Texto</button>
                <form action="http://localhost:3000/cursos/delete" method="post">
                    <input class="id hidde" name="options" value="cursos">
                    <textarea class="hidde" name="idAdmin"><%=id%></textarea>
                    <input type="text" class="hidde" name="id" value="<%=element._id%>">
                    <input type="text" class="hidde" name="admin" value="0">
                    <button >Deletar</button>
                </form>
            </div>

        <% }); %>
     
    </div>

    <script>

        const modal = document.querySelector('.modal');
        const container = document.querySelector('.div-login');
        modal.addEventListener('click', () => {
            console.log('ok')
            container.classList.toggle('hidde');
        });
        
    </script>
</body>
</html>