<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cursos</title>
    <link rel="stylesheet" href="/stylesheets/body.css">
    <link rel="stylesheet" href="/stylesheets/rgcursos.css">
    <link rel="stylesheet" href="/stylesheets/admin.css">

</head>
<body class="bodyGr">

    <button class="modal-edit">Edit</button>
    <div class="container-edit hidde">

        <p class="array"><% users.forEach(element => {%>
            <div class="div-container">
                <p>Nome do usuário:  <strong><%= element.nome%></strong></p>
                <form action="http://localhost:3000/cursos/delete" method="post">
                    <button class="btn-edt">Deletar</button>
                    <input class="id hidde" name="id" value="<%= element._id%>">
                    <textarea class="hidde" name="idAdmin"><%=id%></textarea>
                    <input class="id hidde" name="options" value="users">
                    <input type="text" class="hidde" name="admin" value="1">

                </form>
            </div>
            <hr class="hr">
        <%});%></p>

    </div>

    <h1 class="title-cursos">Cursos</h1>
    <p class="modal">=</p>
    <div class="div-login hidde">
        <form action="http://localhost:3000/cursos/new-curso" method="post" class="form-login">
            <a href="http://localhost:3000/login"><p>Sair</p></a>
            <h3>Cadastro</h3>
            <input type="text" name="title" placeholder="Nome do Curso" >
            <input type="text" name="description" id="" placeholder="Descrição">
            <input type="text" name="text" id="" placeholder="Iframe">
            <p class="title-notes">Anotações</p>
            <textarea class="notes" name="notes" class="text" cols="30" rows="7"></textarea>
            <div class="div-submit">
                <textarea class="hidde" name="id"><%=id%></textarea>
                <input type="text" class="hidde" name="admin" value="1">
                <button>Cadastrar</button>
            </div>
        </form>
    </div>


    <div class="container-cursos">

        <%  cursos.forEach(element => { %>
        
            <div class="div-cursos">
                
                <%const ifram = element.iframe.replace('<iframe width="','width=').replace('" height="', ' height=').replace('" src="', ' src=').replace('" title="', ' title=').replace('"0"', '0').replace('"accelerometer;', 'accelerometer;').replace('</iframe>', '').replace('>', '') %> >
    
                <iframe <%= ifram %>></iframe> 

                <h3><%=element.title%></h3>
                <p><%=element.description%></p>
                <button>Ver Texto</button>
                <form action="http://localhost:3000/cursos/delete" method="post">
                    <textarea class="hidde" name="idAdmin"><%=id%></textarea>
                    <input type="text" class="hidde" name="id" value="<%=element._id%>">
                    <input class="id hidde" name="options" value="cursos">
                    <input type="text" class="hidde" name="admin" value="1">
                    <button>Deletar</button>
                </form>
            </div>

        <% }); %>
        
    </div>
    
    <script>
        const modal = document.querySelector('.modal');
        const container = document.querySelector('.div-login');
        modal.addEventListener('click', () => {
            console.log('ok')
            container.classList.toggle('hidde');
        });
        
        const modalEdit = document.querySelector('.modal-edit');
        const containerEdit = document.querySelector('.container-edit');
        modalEdit.addEventListener('click', () => {
            console.log('ok')
            containerEdit.classList.toggle('hidde');
        });
    </script>
</body>
</html>